@font-face {
    font-family: "rubik";
    src: url("/Rubik/Rubik-VariableFont_wght.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "rubik";
}

html{
    font-size: 18px;
}

.content{
    width: 100%;
    height: 98vh;
    position: relative;
    display: flex;
    flex-direction: column;

}


/* header section */
.header{
    height: 30%;
    background: url("/images/pattern-bg-desktop.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    flex: 1;
}

.page-title{
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

/* search bar section */


.search-bar{
    min-width: fit-content;
    width: 30%;
    justify-self: center;
}

.search-bar form{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transform: translate(20px);
}

.search-bar input[type=text]{
    border-radius: 15px;
    color: hsl(0, 0%, 17%);
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.submit-btn{
    cursor: pointer;
    background-color: hsl(0, 0%, 17%);
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    transform: translate(-40px);
    transition: all 0.3s ease-in-out;
}

.submit-btn:hover{
    background-color: hsl(0, 0%, 59%);

}


/* ip info section */
/* TODO MAKE IT NOT MOVE WHEN CHANGING VALUES. ADD ROTATING CIRCLE WHEN LOADING? */
.ip-info{
    min-width: fit-content;
    width: 50%;
    z-index: 1000;
    background: white;
    padding: 30px;
    border-radius: 20px;
    /* transform: translateY(70%); */
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 20px;
    color: hsl(0, 0%, 17%);
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.5;
}

.title{   
    color: hsl(0, 0%, 59%);
    font-weight: 500;
    font-size: 1rem;
}

.ip-address, .ip-location, .ip-time-zone, .ip-isp{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.ip-address::after, .ip-location::after, .ip-time-zone::after{
    content: '';
    border-left: 1px solid hsl(0, 0%, 59%);
}

/* map section */
.map{
    flex: 2;
    height: 70%;
    width: 100%;
}

@media (max-width: 600px){
    html{
        font-size: 12px;
    }
    .ip-address::after, .ip-location::after, .ip-time-zone::after{
        content: none;
    }
}
@media not screen and (orientation:landscape){
    html{
        font-size: 12px;
    }
}